<div *ngIf="numElements" class="pagination justify-content-center">

    <div *ngIf="page > 1" class="pagination__prev"><a class="page-link" (click)="anterior()"><button mat-raised-button>Anterior</button></a></div>

    <div class="pagination__text">

        <p>Página {{page}} de {{totalPages}}</p>

        <p>{{numElements}} resultados</p>

    </div>

    <div *ngIf="page < totalPages" class="pagination__next"><a class="page-link" (click)="siguiente()" ><button mat-raised-button>Siguiente</button></a></div>
</div>
