<footer class="bg-dark text-left text-white">
    <div class="container p-4 pb-0">

      <section class="mb-4">
        <div>
            <a class="btn btn-outline-light btn-floating m-1" href="#!">
               Productos
            </a>
        </div>
        <br>
        <a href="#">
            <mat-label>
                Mercados
            </mat-label>
        </a>
        
        
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            Contacto
        </a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
           Soporte
        </a>
      </section>

    </div>
    <div class="text-left p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 ListaSuper, Inc.
    </div>
</footer>
