<mat-toolbar color = 'white'>
    <a [routerLink] = "'/'" mat-icon-button class = "example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>storefront</mat-icon>
        <span>Lista Super</span>
    </a>
    
    <span class="example-spacer"></span>

    <a [routerLink]="'/mercados'" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
        Mercados
    </a>
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
        Contacto
    </a>
    <a [routerLink]="'/login'" mat-raised-button class="example-icon favorite-icon mr20 ml20 btn-ingresar" aria-label="Example icon-button with heart icon">
        Log in
    </a>
</mat-toolbar>
