<div class="bootstrap-wrapper">
    <div class="container">
        <div class="mt20">
            <div class="col-md-12 text-center row mb-r4 mt-r4">
                <div class="col-md-6">
                    <img src="../../../assets/Carrefour.jpg" width="100%" height="100%" class="img_carrefour ml10 mr10"
                        alt="Image de Supermercado Carrefour">
                </div>
                <div class="col-md-5 text-centerAll ml20">
                    <span>
                        <h2>
                            <b>Nosotros</b>
                        </h2>
                        <p>
                            ListaSuper es un proyecto dedicado a buscar y comparar productos de los principales
                            supermercados del país.
                            Este es realizado por Orion Guevara, Cesar Bonilla, Juan Moreno y Nassly Godoy de la
                            Universidad de los Llanos
                        </p>
                    </span>
                </div>
                <div>
                    <h2>
                        <b>Contact</b>
                    </h2>
                    <form class="example-form">
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td><mat-form-field class="example-full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input class="inContact" id="name" type="text" matInput>
                                    </mat-form-field></td>
                                <td><mat-form-field class="example-full-width">
                                        <mat-label>Correo</mat-label>
                                        <input class="inContact" id="email" type="email" matInput>
                                    </mat-form-field></td>
                            </tr>
                        </table>

                        <p>
                            <mat-form-field class="example-full-width">
                                <mat-label>Mensaje</mat-label>
                                <textarea class="inContact" id="mensaje" matInput placeholder="Mensaje"></textarea>
                            </mat-form-field>
                            
                        </p>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>