<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style="margin-top: 20px;">
            <mat-card>
                <div class = "col-md-6 offset-md-3">
                    <div class = "container text-center">
                        <img src = "../../../assets/add-user.png" alt = "" width = "100" height="100">
                    </div>
                    
                    <h1 class = "text-center">Registrate Aquí</h1>
                    
                        <form (ngSubmit) = "formSubmit()" class="form_register">
                            <!--<mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>Name</mat-label>
                                <input required [(ngModel)] = "user.name" name = "name"  matInput placeholder = "Enter your name"> 
                                <mat-hint>Username must be unique</mat-hint>
                            </mat-form-field>

                            <mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>Last name</mat-label>
                                <input [(ngModel)] = "user.lastName" name = "lastName" matInput placeholder = "Enter your last name"> 
                            </mat-form-field>-->

                            <mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>User name</mat-label>
                                <input required [(ngModel)] = "user.username" name = "username" matInput placeholder = "Enter your user name"> 
                            </mat-form-field>

                            <mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>Email</mat-label>
                                <input required [(ngModel)] = "user.email" name = "email" type = "email" matInput placeholder = "Enter your email"> 
                            </mat-form-field>

                            <mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>Password</mat-label>
                                <input required [(ngModel)] = "user.password" name = "password" type = "password" matInput placeholder = "Enter your password"> 
                            </mat-form-field>
                            
                            <!--<mat-form-field class = "full-width" appearance = "outline">
                                <mat-label>Cellphone</mat-label>
                                <input [(ngModel)] = "user.cellphone" name = "cellphone" type="number" matInput placeholder = "Enter your cellphone"> 
                            </mat-form-field>-->

                            <div id="identificador_h">
                                <div>
                                    <p>Para verificar que es humano ingrese el resultado de la operación</p>
                                </div>
                                <div class="row operacion">
                                    <label>{{num1}} {{operador}} {{num2}} = ?</label>
                                </div>
                                
                                <mat-form-field width="">                                  
                                    <mat-label>Resultado</mat-label>
                                    <input required id="result" [(ngModel)] = "validacion" name = "resultado" matInput placeholder = "Ingrese el resultado">
                                </mat-form-field>
                            </div>

                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Sign Up</button>
                                <button type="reset" mat-raised-button color="accent">Clean</button>
                            </div>
                        </form>

                        
                </div> 
            </mat-card>  
        </div>
    </div>
</div>
