
.form_register{
    margin-bottom: 20px;
}

.container{
    justify-content: center;
    display: flex;
}

#identificador_h{
    border: 0.5px solid #80808057;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 5%;
    padding: 5%;
    font-size: medium;
}

#identificador_h > div{
    justify-content: center;
}