<div class="bootstrap-wrapper">
    <div class="container">
      <div class="mt20">

        <div class = "col-md-12 text-center row mb-r4 mt-r4">
          <div class="col-md-6">
            <img src="../../../assets/Carrefour.jpg" width="100%" height="100%" class="img_carrefour ml10 mr10" alt="Image de Supermercado Carrefour">
          </div>
          <div class="col-md-5 text-centerAll ml20">
            <span>
              <h2>
                <b>!Ahorra dinero en tus compras diarias!</b>
              </h2>
              <p>
                Compara precios de tus productos favoritos y encuentra la mejor oferta.
              </p>
            </span>
          </div>
          
        </div>

        <div class = "col-md-12 text-center row mb-r4 mt-r4">
          <div class="col-md-5 text-centerAll ml20">
            <span>
              <h2>
                <b>Encuentra los productos al precio que quieres.</b>
              </h2>
              <p>
                Compara precios de diferentes supermercados y ahorra dinero en cada compra.
              </p>
            </span>
          </div>
          <div class="col-md-6">
            <img src=" ../../../assets/Ara.jpg" width="100%" height="100%" class="img_ara ml10 mr10" alt="Imagen de Supermercado Ara">
          </div>
          
        </div>

        <div class = "col-md-12 text-center row mb-r4 mt-r4">
          <div class="col-md-5 text-centerAll ml20">
            <span>
              <h2>
                <b>ListaSuper.</b>
              </h2>
              <p>
                Revisa los productos de distintas tiendas para que mejores tu economía.
              </p>
            </span>
          </div>
          <div class="col-md-6">
            <img src="../../../assets/Exito.jpg" width="100%" height="100%" class="img_ara ml10 mr10" alt="Imagen de Supermercado Éxito">
          </div>
          
        </div>
      </div>
    </div>
  </div>
